.user-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
}

.post-title {
    display: flex;
    width: 100%;
    min-height: 35vh; /* ❌ height → ✅ min-height */
    background-image: url("../public/images//indir (19).jpeg");
    background-size: cover;
    background-position: center;
}

.post-title-shadow {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 35vh; /* ❌ height → ✅ min-height */
    height: auto; /* ✅ içerik kadar büyür */
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.90);
}

.user-pfp {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid #111;

    /* ❌ margin: auto 20px auto 500px; */
    margin-left: 50px; 

    /* background-color: #000; */
    background-size: cover;
    background-position: center;
}

.user-post-desc {
    width: 800px;
    max-width: 100%; /* ✅ taşma fix */
    min-height: 150px;

    margin: 0 20px;

    min-width: 0; /* flex fix */
}

.user-post-desc h1 {
    font-family: "BBH Bartle", sans-serif;
    margin: 20px 0 0 0;
}

.user-post-desc h2 {
    font-family: "Google Sans Code", monospace;
    margin: 10px 0 0 0;
    font-style: italic;
}

.user-post-desc p {
    font-family: "Google Sans Code", monospace;
    margin: 7px 0 0 0;

    word-break: break-word;
    white-space: pre-wrap;
}